{% extends 'main/base.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <div class="container" style="max-width: 1200px; margin: 0 auto;">
        <h1 style="color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 10px;">Корзина</h1>
        {% if cart_items %}
            <ul style="list-style: none; padding: 0;">
            {% for item in cart_items %}
                <li style="margin-bottom: 10px;">
                    <a href="{% url 'product_detail' pk=item.product.pk %}">
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="50" height="50">
                        {% else %}
                            <img src="/media/default_product_image.jpg" alt="Default Image" width="50" height="50">
                        {% endif %}
                        {{ item.product.name }}
                    </a>
                    - {{ item.product.price }} руб. - {{ item.product.stock_status }}
                    <span>Количество: {{ item.quantity }}</span>
                    <a href="{% url 'remove_from_cart' item_id=item.id %}" style="color: #ff0000; text-decoration: none; margin-left: 10px;">Удалить</a>
                </li>
            {% endfor %}
            </ul>
            <p>Общая стоимость: {{ total_price }} руб.</p>
        {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
    </div>
{% endblock %}